body {
  height: 95vh;
  display: grid;
  place-items: center;
  background: black;
}
.flame-box {
  height: 60px;
  width: 60px;
  transform-origin: center bottom;
  animation: flicker 3ms 200ms ease-in infinite alternate;
}
.flame {
  bottom: 0;
  position: absolute;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  transform: rotate(-45deg) scale(1.5, 1.5);
}
.yellow {
  height: 30px;
  width: 30px;
  left: 15px;
  background: #00ffff; /* Cyan */
  box-shadow: 0px 0px 9px 4px #00ffff;
}
.orange {
  left: 10px;
  width: 40px;
  height: 40px;
  background: #007fff; /* Azure */
  box-shadow: 0px 0px 9px 4px #007fff;
}
.red {
  height: 50px;
  width: 50px;
  left: 5px;
  background: #0000ff; /* Blue */
  box-shadow: 0px 0px 5px 4px #0000ff;
}
.white {
  height: 30px;
  width: 30px;
  left: 15px;
  bottom: -4px;
  background: #e6ffff; /* Light cyan */
  box-shadow: 0px 0px 9px 4px #e6ffff;
}
.circle {
  border-radius: 50%;
  position: absolute;
}
.blue {
  left: 25px;
  bottom: -25px;
  width: 10px;
  height: 10px;
  background: #000080; /* Navy */
  box-shadow: 0px 0px 15px 10px #000080;
}
.black {
  left: 10px;
  bottom: -60px;
  width: 40px;
  height: 40px;
  background: #000000;
  box-shadow: 0px 0px 15px 10px #000000;
}
@keyframes flicker {
  0% {
    transform: rotate(-1deg);
  }
  20% {
    transform: rotate(1deg);
  }
  40% {
    transform: rotate(-1deg);
  }
  60% {
    transform: rotate(1deg) scaleY(1.04);
  }
  80% {
    transform: rotate(-2deg) scaleY(0.92);
  }
  100% {
    transform: rotate(1deg);
  }
}

h1 {
  color: #f9f6ef;
}

h2 {
  color: #f9f6ef;
}

h3 {
  color: #f9f6ef;
}
